.page {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    p,
    input {
        font-size: 2vw;
        padding: 1vw;
        border: none;
        border-radius: 8px;

        @media (max-width: 1900px) {
            font-size: 1vw;
            margin: 0 0 0.5vw 0;
        }
    }

    input {
        background-color: var(--background, gray);
        border: 2px solid var(--background, gray);

        &:focus,
        &:hover {
            border: 2px solid #FFFFFF;
        }
    }

    form {
        flex: auto;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

.page-boxes {
    display: flex;
    margin: 1vw 0;
    min-height: 60vh;

    &-names {
        flex: auto;
        width: 100%;
        box-sizing: border-box;

        p {
            box-sizing: border-box;
            font-size: 1.5vw;
            width: 100%;
            margin: 0 0 1vw 0;
            cursor: pointer;
            outline: none;

            &:hover,
            &:focus {
                background-color: var(--background-lighter, gray);
            }
        }

        input {
            margin-top: auto;
        }
    }

    &>div {
        border-radius: 8px;
        margin: 0 1vw;
        padding: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--background-light, gray);

        img {
            width: 3vw;
            margin-bottom: 1vw;
        }

        .name-options {
            flex: auto;
        }
    }
}