.name-options {
    flex: auto;
    width: 100%;
    box-sizing: border-box;
    min-height: 30vh;

    p {
        box-sizing: border-box;
        font-size: 1.5vw;
        width: 100%;
        margin: 0 0 1vw 0;

        &.p1 {

            &:focus,
            &:hover {
                cursor: pointer;
                background-color: var(--primary-light, gray);
            }
        }

        &.p2 {

            &:focus,
            &:hover {
                cursor: pointer;
                background-color: var(--accent-light, gray);
            }
        }

    }
}