.board {
  display: flex;
  flex-direction: column;
  position: relative;

  &-column {
    &-line {
      width: 2vw;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 1;

      &.line-1 {
        left: 14%;
      }

      &.line-2 {
        left: 47%;
      }

      &.line-3 {
        left: 79%;
      }

      &.diagonal-1 {
        transform: rotate(-45deg) scaleY(1.3) translateY(-1vw);
        left: 50%;
      }

      &.diagonal-2 {
        transform: rotate(45deg) scaleY(1.3) translateY(0.5vw) translateX(-1vw);
        left: 50%;
      }

      &.p1 {
        background-color: #379777;
      }

      &.p2 {
        background-color: #F4CE14;
      }
    }
  }

  &-row {
    display: flex;
    margin-bottom: 0.5vw;
    position: relative;

    &-line {
      position: absolute;
      left: 0;
      top: 45%;
      width: 99%;
      height: 2vw;

      &.p1 {
        background-color: #379777;
      }

      &.p2 {
        background-color: #F4CE14;
      }
    }

  }

  .cell {
    width: 9vw;
    height: 9vw;
    border: none;
    background: #595B5E;
    margin-right: 0.5vw;
    cursor: pointer;
    outline: none;


    @media (min-width: 1900px) {
      width: 12vw;
      height: 12vw;
    }

    &.p1:hover,
    &.p1:focus {
      border: 0.25vw solid #379777;
    }

    &.p2:hover,
    &.p2:focus {
      border: 0.25vw solid #F4CE14;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
    }

    &.marked {
      background: transparent;
      border: none;
    }
  }
}
