.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 2vw;
    margin: 0;
}

.page-section {
    background-color: var(--background-light, gray);
    padding: 1vw 2vw;
    border-radius: 8px;
    min-width: 50vw;
    min-height: 40vh;

    h1 {
        font-size: 2vw;
    }

    &-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0.5vw 2vw;
        border-radius: 8px;
        border: 3px solid transparent;
        font-size: 1.5vw;
        margin-bottom: 1vw;
        background-color: var(--background-lighter, gray);
        cursor: pointer;

        &:focus,
        &:hover {
            background: var(--primary-color, gray);
            outline: none;
        }
    }
}

.page-footer {
    opacity: 0.5;

    p {
        text-align: center;
        font-size: 1vw;
    }
}