.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    padding: 5vw 0;
    margin: 0;
}

.page-section {
    background-color: var(--background-light, gray);
    padding: 1vw 2vw;
    border-radius: 8px;
    min-width: 50vw;
    min-height: 40vh;

    &-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0.5vw 2vw;
        border-radius: 8px;
        border: 1px solid #FFFFFF;
        font-size: 1.5vw;

        &:focus,
        &:hover {
            background: var(--primary-color, gray);
        }
    }
}