.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 2vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.page-header {
    padding: 0;
    color: var(--text-color, #FFFFFF);

    @media (min-width: 1900px) {

        &>img {
            display: none;
        }
    }
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.players {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    flex: auto;

    &>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0.5;

        @media (max-width: 1900px) {
            flex-direction: row;
            img {
                margin-left: 1vw;
            }
        }

        p {
            font-size: 1.5rem;
            text-transform: capitalize;
            
            @media (max-width: 1900px) {
                max-width: 50%;
            }

            @media (min-width: 1900px) {
                font-size: 2rem;
            }
        }

        img {
            width: 6vw;
            opacity: 0;
        }
    }

}


.active {
    opacity: 1 !important;

    img {
        opacity: 1 !important;
    }

    &.p1 p {
        background: var(--primary-color, #000000);
    }

    &.p2 p {
        background: var(--accent-color, #000000);
    }

    p {
        padding: 1vw;
        border-radius: 8px;
    }
}